{#
/**
 * @file
 * Theme override for tabs.
 */
#}
{%
  set classes = [
	'block',
	attributes.id
]
%}

<div{{ attributes.addClass(classes) }}>
	{% block content %}
    <div class="block-content clearfix">
			{{ content }}
    </div>
	{% endblock %}
</div>
