{#
/**
 * @file
 * Theme override for site branding
 */
#}
{%
  set classes = [
		'block',
		'block-branding',
    site_logo and not site_name and not site_slogan ? 'only-logo'
  ]
%}

<div{{ attributes.addClass(classes) }}>
{% block content %}
  {% if site_logo %}
    <div class="logo">
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" class="logo--site-logo">
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
      </a>
    </div>
  {% endif %}
  {% if site_name or site_slogan %}
    <div class="name-slogan">
      {% if site_name %}
        <div class="name-slogan--name">
          <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}">{{ site_name }}</a>
        </div>
      {% endif %}
      {% if site_slogan %}
        <div class="name-slogan--slogan"><a href="{{ path('<front>') }}" title="{{ 'Home'|t }}">{{ site_slogan }}</a></div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
</div>