@import "../helpers/variables";
@import "../helpers/mixins";
@import "../helpers/placeholders";

/*Breadcrumb*/

.breadcrumb {
	margin: $breadcrumbs_margin;
	line-height: 18px;

	.highlighting-wrapper.with-bg & {
		margin-bottom: 70px;
		text-align: center;
	}

	.block-wg-theme-page-title + .block-wg-theme-breadcrumbs & {
		margin-top: 0;
	}

	.block-wg-theme-breadcrumbs:last-child & {
		margin-bottom: 0;
	}

	ul {
		margin-top: 0;
		padding-left: 0;
	}

	li, 
	li a, 
	li span {
		color: $def_color;
		font-size: $breadcrumb_fontsize;
		font-weight: $light;
		line-height: 18px;
		@include align-mid;

		.highlighting-wrapper.with-bg & {
			color: #fff;
		}
	}

	li {
		padding-left: 0;

		&:before {
			display: none;
		}
	}

	.highlighting-wrapper.with-bg & {

		span {
			font-weight: $regular;
		}
	}
}
