@import "../helpers/variables";
@import "../helpers/mixins";
@import "../helpers/placeholders";

.button {
  display: block;
  padding: 15px 0;
  position: relative;
  overflow: hidden;
  width: $button_width;
  text-align: center;
  text-decoration: none;

  &:after {
    content: '';
    @include absolute(0, auto, 0, auto);
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
  }

  &:hover:after {
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
  }

  &.button-red--md {
    padding: 10px 0;
    width: 160px;
  }
}

.button-red {
  background: $def_color;
  color: #fff;
}

.button-red--lg {
  border: 4px solid #fff;
  font-size: 22px;
}

.button-white {
  border: 2px solid #fff;
  @include radius(5px);
  color: #fff;
  display: block;
  font-size: 18px;
  padding: 8px 0;
  position: relative;
  width: 280px;
  text-align: center;
  text-decoration: none;

  &:before {
    content: '';
    @include absolute(50%, auto, 0, 0);
    background: #fff;
    display: block;
    margin: -1px auto 0;
    max-width: 80%;
    width: 100%;
    height: 2px;
    @include transform(scale3d(0,1,1));
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    @include transition(transform 0.5s);
    -webkit-transition-timing-function: cubic-bezier(0.8,0,0.2,1);
    transition-timing-function: cubic-bezier(0.8,0,0.2,1);
  }

  &:hover:before {
    @include transform(scale3d(1,1,1));
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
}
