@import "../helpers/variables";
@import "../helpers/mixins";
@import "../helpers/placeholders";

.node--comments {
	margin-top: 60px;
}

.comments--title,
.comments-form--title{
	font-family: $ff2;
	font-weight: $medium;
	font-size: 28px;
	line-height: 28px;
	margin-bottom: 40px;
}

.comments--wrapper {
	margin-bottom: 40px;

	.indented {
		border-left: 1px solid $grey;
		padding-left: 20px;
	}
}

.comment--meta {
	margin-bottom: 25px;

	.comment--submitted,
	.profile--compact {
		@include align-mid();
	}

	.profile--compact {
		margin-right: 20px;
	}

	.fa {
		margin-right: 5px;
	}
}

.comment--item {
	border-bottom: 1px solid $grey;
	margin-bottom: 25px;
	padding-bottom: 25px;

	&.unpublished {
		background: $unpublished;
	}
}
