@import "../helpers/variables";
@import "../helpers/mixins";
@import "../helpers/placeholders";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

a {
  color: $link;
  text-decoration: underline;
  @include transition(.5s);
}

a:hover {
  text-decoration: none;
}

h1 {
  font-family: $ff2;
  font-size: $h1_fontsize;
  font-weight: $regular;
  line-height: 48px;
  margin: $h1_margin;

  .highlighting-wrapper.with-bg & {
    color: #fff;
    text-align: center;
  }
}

h2 {
  font-family: $ff2;
  font-size: $h2_fontsize;
  font-weight: $regular;
  line-height: 36px;
	margin: $h2_margin;

  &.block-title {
    position: relative;
  }
}

h3 {
  font-family: $ff1;
  font-size: $h3_fontsize;
  font-weight: $light;
  line-height: 24px;
	margin: $h3_margin;

  span {
    color: $def_color;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  @include align-mid();
}

tr {

  &.even,
  &.odd {
    border: 0;
  }
}

p {
  margin-bottom: $p_margin;

  &:last-child {
    margin-bottom: 0;
  }
}

b, strong {
  font-weight: $medium;
}

i {
	font-style: italic;
}

ol,
ul {
	position: relative;
	margin-top: 20px;
	padding-left: 20px;

	&.links {
		padding-left: 0;

		li {
			margin-right: 20px;
			padding-left: 0;

			&:last-child {
				margin-right: 0;
			}

			&:before {
				display: none;
			}
		}
	}

	nav & {
		margin-top: 0;
		padding-left: 0;
	}

	li {
		padding-left: 20px;
		position: relative;

		nav & {
			padding-left: 0;
		}
	}
}

ol {
	counter-reset: num;

	li {

		&:before {
			position: absolute;
			left: 0;
			content: counter(num) ')';
			counter-increment: num;
			color: $def_color;
		}
	}
}

ul {

	li {

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			content: '›';
			color: $def_color;
			display: block;
			font-weight: $bold;

			nav & {
				display: none;
			}
		}
	}
}

.blockquote,
blockquote {
	border: 2px solid $grey;
	padding: 5px 20px;
	text-align: center;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.inline-item {
	@include align-mid();
	margin-right: -4px;

	&:last-child {
		margin-right: 0;
	}
}

.mobile-visible {
	display: none;
}

.align-left {
	float: left;
	margin-right: 30px;
}

.align-right {
	float: right;
	margin-left: 30px;
}

.text-align-center {
	text-align: center;
}

.text-align-left {
	text-align: left;
}

.text-align-right {
	text-align: right;
}

.text-uppercase {
	text-transform: uppercase;
}

.list-inline {

	li {
		@include align-mid();
	}
}
