@import "../helpers/variables";
@import "../helpers/mixins";
@import "../helpers/placeholders";

.field {
	margin: $field_margin;

	.node--teaser &:last-child {
		margin-bottom: 0;
	}
}

.field--label {
	font-weight: $medium;
}

.field-label-inline {

	.field--label,
	.field--items {
		@include align-top;
	}

	.field--label {
		margin-right: 20px;
	}
}

.image {

	.node--full & {
		width: 100%;
		text-align: center;
	}

	.node--teaser & {
		float: left;
		margin-right: 20px;
	}

	.views--col & {
		float: none;
		margin-right: 0;
	}
}

.tags {

	.node & {
		clear: both;
	}

	.field--item {
		@include align-mid;
		margin-left: 5px;

		a {
			background: $def_color;
			@include radius(5px);
			color: #fff;
			display: block;
			font-size: 14px;
			padding: 2px 10px 1px 25px;
			position: relative;
			text-decoration: none;

			&:before {
				content: "\f02b";
				position: absolute;
				top: 7px;
				left: 8px;
				color: #fff;
				font: normal normal normal 14px/1 FontAwesome;
			}

			&:hover {
				background: $def_color;
			}
		}
	}
}

.user-picture {

	.node & {
		@include radius();
		margin-bottom: 0;
		overflow: hidden;
		width: 56px;
		height: 56px;

		img {
			height: 100%;
		}
	}
}