@import "../helpers/variables";
@import "../helpers/mixins";
@import "../helpers/placeholders";

select,
textarea,
input[type="text"],
input[type="email"],
input[type="password"] {
	background: #fff;
	border: 1px solid $grey;
	color: $text_color;
	font-size: $input_fontsize;
	font-family: $ff2;
	max-width: 100%;
	padding: 11px 15px;
	width: 100%;
}

textarea {
	min-height: 130px;
}

.js-form-managed-file {
	height: 30px;
	border-bottom: 2px solid $def_color;
	display: block;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	width: 100%;

	.modal-form & {
		font-size: 14px;
		height: 20px;
	}

	.file {
		padding-left: 25px;

		a {
			color: $text_color;
			text-decoration: none;

			.dark-bg & {
				color: #fff;
			}
		}
	}

	input[type="submit"]:not(.js-hide) {
		background: transparent;
		color: $text_color;
		display: inline-block;
		border: 0;
		font-size: 14px;
		margin-top: 0;
		padding: 0 0 0 20px;
		width: auto;

		&:hover {
			color: $def_color;
			background: transparent;
		}
	}
}

input[type="submit"] {
	background: $def_color;
	border: 0;
	@include radius(3px);
	color: #fff;
	cursor: pointer;
	font-size: $submit_fontsize;
	padding: 15px;
	position: relative;
	overflow: hidden;
	width: auto;
	max-width: 100%;
	min-width: 120px;
	text-align: center;
	text-decoration: none;
	@include transition(0.8s);

	&:hover {
		background: $link_h;
	}

	&.button {
	display: inline-block;
}
}

.form-item {
	margin: {
		top: 15px;
		bottom: 15px;
	}
	position: relative;

	.stat-message {
		height: 0;
		width: 0;
		overflow: hidden;
	}

	label {
		font: {
			weight: $bold;
		}

		& + input,
		& + select,
		& + textarea {
			margin-top: 10px;
		}
	}

	.form-managed-file label {
		font-weight: $regular;
	}
}

.form-actions {
	clear: both;
	margin: 50px 0 0;

	.modal-form & {
		margin-top: 0;
	}
}

.form-item-file {

	.description {
		margin: 0;
		padding: 0;
		height: 0;
		overflow: hidden;
	}
}

input::-webkit-input-placeholder {
	color: $text_color;
	font-family: $ff2;
}

input::-moz-placeholder {
	color: $text_color;
	font-family: $ff2;
}

input:-moz-placeholder {
	color: $text_color;
	font-family: $ff2;
}

input:-ms-input-placeholder {
	color: $text_color;
	font-family: $ff2;
}

textarea::-webkit-input-placeholder {
	color: $text_color;
	font-family: $ff2;
}

textarea::-moz-placeholder {
	color: $text_color;
	font-family: $ff2
}

textarea:-moz-placeholder {
	color: $text_color;
	font-family: $ff2
}

textarea:-ms-input-placeholder {
	color: $text_color;
	font-family: $ff2
}

.user-pass,
.user-login-form {
	margin: 0 auto;
	max-width: 500px;
}
