@import "../helpers/variables";
@import "../helpers/mixins";
@import "../helpers/placeholders";

.top-menu-wrapper {

	&.fixed {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;
	}
}

.block-menu {

	.menu-fixed-top & {
		margin-top: 5px;
	}
	
	.header-wrapper &,
	.top-menu-wrapper & {
		@include align-mid;

		a {
			text-decoration: none;
		}
	}
}

.menu {

	& > li {
		@include align-mid;
		padding: 0 20px;
		text-transform: uppercase;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	a {
		color: $text_color;
		font-family: $ff1;
		position: relative;

		&:hover {
			color: $def_color;
		}
	}
}

.block-open-menu {
	display: block;
	position: absolute;
	top: 50%;
	right: 15px;
	background-color: transparent;
	border-bottom: 3px solid $def_color;
	cursor: pointer;
	margin-top: -12.5px;
	width: 36px;
	height: 25px;
	z-index: 10;

	&:before,
	&:after {
		position: absolute;
		left: 0;
		content: '';
		background-color: $def_color;
		display: block;
		width: 100%;
		height: 3px;
	}

	&:before {
		top: 0;
	}

	&:after {
		top: 11px;
	}
}

.close-menu,
.block-open-menu {
	display: none;
}
