@import "../helpers/variables";
@import "../helpers/mixins";
@import "../helpers/placeholders";

/*Message*/

.stat-message {
  position: relative;

  .region-highlighting &  {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}

.mes-close {
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
  z-index: 10;
}

.messages {
  background: no-repeat 10px 17px;  /* LTR */
  border-style: solid;
  border-width: 1px 1px 1px 0;  /* LTR */
  @include radius(2px);
  padding: 15px; /* LTR */
  word-wrap: break-word;
  overflow-wrap: break-word;

  [dir="rtl"] & {
    border-width: 1px 0 1px 1px;
    background-position: right 10px top 17px;
    padding-left: 20px;
    padding-right: 35px;
    text-align: right;
  }

  & + .messages {
    margin-top: 1.538em;
  }
}

.messages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.messages__item + .messages__item {
  margin-top: 0.769em;
}

.messages--status {
  color: #325e1c;
  background-color: #f3faef;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;  /* LTR */
  @include shadow(-8px 0 0 #77b259); /* LTR */

  [dir="rtl"] & {
    border-color: #c9e1bd transparent #c9e1bd #c9e1bd;
    @include shadow(8px 0 0 #77b259);
    margin-left: 0;
  }
}

.messages--warning {
  background-color: #fdf8ed;
  border-color: #f4daa6 #f4daa6 #f4daa6 transparent;  /* LTR */
  color: #734c00;
  @include shadow(-8px 0 0 #e09600); /* LTR */

  [dir="rtl"] & {
    border-color: #f4daa6 transparent #f4daa6 #f4daa6;
    @include shadow(8px 0 0 #e09600);
  }
}

.messages--error {
  background-color: #fcf4f2;
  color: #a51b00;
  border-color: #f9c9bf #f9c9bf #f9c9bf transparent;  /* LTR */
  box-shadow: -8px 0 0 #e62600; /* LTR */

  [dir="rtl"] & {
    border-color: #f9c9bf transparent #f9c9bf #f9c9bf;
    @include shadow(8px 0 0 #e62600);
  }
  p.error {
    color: #a51b00;
  }
}

.stat-message  {

  .modal-form & {
    top: 0;
    font-size: 12px;
    line-height: 14px;
  }
}
