@import "../helpers/variables";
@import "../helpers/mixins";
@import "../helpers/placeholders";

/*Modal*/

.ajax-progress .throbber,
.ajax-progress-throbber .throbber {
	float: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto !important;
	width: 64px;
	height: 64px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.0%22%20width%3D%2264px%22%20height%3D%2264px%22%20viewBox%3D%220%200%20128%20128%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3ClinearGradient%20id%3D%22linear-gradient%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%23fff%22/%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%23000%22/%3E%3C/linearGradient%3E%3Cpath%20d%3D%22M63.85%200A63.85%2063.85%200%201%201%200%2063.85%2063.85%2063.85%200%200%201%2063.85%200zm.65%2019.5a44%2044%200%201%201-44%2044%2044%2044%200%200%201%2044-44z%22%20fill%3D%22url%28%23linear-gradient%29%22%20fill-rule%3D%22evenodd%22/%3E%3CanimateTransform%20attributeName%3D%22transform%22%20type%3D%22rotate%22%20from%3D%220%2064%2064%22%20to%3D%22360%2064%2064%22%20dur%3D%221080ms%22%20repeatCount%3D%22indefinite%22%3E%3C/animateTransform%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
	z-index: 4446;
}
.ajax-progress,
.ajax-progress-throbber {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.52);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 4444;
	vertical-align: middle;
	text-align: center;
}

.ui-widget-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.70);
	z-index: 100;
}

.ui-widget {
	border: 3px solid $def_color;
	@include radius(0);
	font-family: $ff1;
	font-weight: normal;
	max-width: 400px;
	padding: 30px 50px 40px;
	z-index: 200;

	.ui-dialog-titlebar {
		background: #fff;
		border: none;
		margin-bottom: 30px;
		padding: 0;
	}

	.ui-dialog-titlebar-close {
		background: $def_color;
		border: none;
		@include radius(100px);
		@include shadow(0px 5px 10px 0px rgba(0, 86, 169, 0.52));
		right: -70px;
		top: -50px;
		margin: 0;
		padding: 0;
		width: 36px;
		height: 36px;

		.ui-icon {
			background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%2211px%22%20height%3D%2211px%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%28255%2C%20255%2C%20255%29%22%0A%20d%3D%22M11.000%2C1.833%20L7.325%2C5.568%20L10.780%2C9.166%20L9.020%2C11.000%20L5.500%2C7.423%20L1.980%2C11.000%20L0.220%2C9.166%20L3.675%2C5.568%20L-0.000%2C1.833%20L1.980%2C-0.000%20L5.500%2C3.667%20L9.020%2C-0.000%20L11.000%2C1.833%20Z%22/%3E%0A%3C/svg%3E');
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 11px 11px;
			margin: -5.5px 0 0 -5.5px;
			width: 11px;
			height: 11px;
		}
	}

	.ui-dialog-title {
		color: #000;
		font-size: 24px;
		font-weight: normal;
		line-height: 36px;
	}

	.ui-dialog-content {
		padding: 0;
	}

	textarea {
		resize: none;
		height: 100px;
	}

	.ui-dialog-buttonpane {
		border: none;
		margin-top: 0;
		padding: 0;

		button {
			background: $def_color;
			color: #fff;
			font-size: 14px;
			font-family: $ff1;
			font-weight: $medium;
			margin: 0;
			text-shadow: none;

			&:hover {
				background: $def_color;
			}
		}
	}
}