@import "../helpers/variables";
@import "../helpers/mixins";
@import "../helpers/placeholders";

/*Pager*/

.pager {
	clear: both;
	text-align: center;

	li {
		display: inline-block;
		margin-right: 8px;

		a {
			border: 3px solid $grey;
			color: $text_color;
			display: block;
			font-size: 18px;
			padding: 7px 0;
			width: 44px;
			text-align: center;
			text-decoration: none;

			&:hover {
				border: 3px solid $def_color;
				background: $def_color;
				color: #fff;
			}
		}

		&.is-active a {
				@extend a:hover;
			}
	}

	.pager--item-first,
	.pager--item-last {

		a {
			min-width: 44px;
			padding: 7px 15px;
			width: auto;
		}
	}
}

.pager--items {
	border-top: 3px solid $grey;
	margin-top: 25px;
	padding-top: 25px;
}
