@import "../helpers/variables";
@import "../helpers/mixins";
@import "../helpers/placeholders";

/*Table*/

table {
	border-bottom: 3px solid $table_1;
	width: 100%;
}

thead {
	background: $table_1;
	border-bottom: 4px solid $table_2;
	font-size: $thead_fontsize;
	font-weight: $medium;
}

th,
td {
	padding: $th_td_padding;
	vertical-align: middle;
}

tbody {

	tr {

		&:nth-child(2n) {
			background: $table_2;
		}

		&:hover,
		&:hover:nth-child(2n) {
			background: $table_3;
		}
	}
}
