@import "../helpers/variables";
@import "../helpers/mixins";
@import "../helpers/placeholders";

.view--header {
	margin: $views_header_margin;
}

.view-footer {
	margin: $views_footer_margin;
}

.views--grid {
	margin: 0 -15px;

	.views--row {
		margin-bottom: 0;
	}

	.views--col {
		@include align-top();
		margin-bottom: 25px;
		margin-right: -4px;
		padding: 0 15px;
	}
}

.views--row {
	margin: $views_row_margin;

	&:last-child {
		margin-bottom: 0;
	}
}