@mixin radius($radius: 100px) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin shadow($shadow) {
	-moz-box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
}

@mixin border-box {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin align-top {
	display: inline-block;
	vertical-align: top;
}

@mixin align-mid {
	display: inline-block;
	vertical-align: middle;
}

@mixin align-bottom {
	display: inline-block;
	vertical-align: bottom;
}

@mixin absolute($top: 0, $bottom: 0, $left: 0, $right: 0) {
	position: absolute;
	top: $top;
	bottom: $bottom;
	left: $left;
	right: $right;
}

@mixin fixed($top: 0, $bottom: 0, $left: 0, $right: 0) {
	position: fixed;
	top: $top;
	bottom: $bottom;
	left: $left;
	right: $right;
}

@mixin transform($transform) {
	-moz-transform: $transform;
  -ms-transform: $transform;
  -webkit-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin transition($transition) {
	-moz-transition: $transition;
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
