%border-box {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

%align-top {
	display: inline-block;
	vertical-align: top;
}

%align-mid {
	display: inline-block;
	vertical-align: middle;
}

%align-bottom {
	display: inline-block;
	vertical-align: bottom;
}