$def_color: #d9232d;

$text_color: #303030;

$link: $def_color;

$link_h: #b71e26;

$grey: #d8d8d8;

$unpublished: #d9232d26;

$table_1: #f9f9f9;

$table_2: #e9e9e9;

$table_3: #e4e4e4;

$ff1: 'Lato', sans-serif;

$ff2: 'Roboto', sans-serif;

$light: 300;

$regular: normal;

$medium: 600;

$bold: 700;

$h1_fontsize: 48px;

$h2_fontsize: 36px;

$h3_fontsize: 24px;

$breadcrumb_fontsize: 18px;

$input_fontsize: 16px;

$submit_fontsize: 16px;

$thead_fontsize: 20px;

$h1_margin: 0 0 20px;

$h2_margin: 0 0 20px;

$h3_margin: 0 0 20px;

$breadcrumbs_margin: 20px 0;

$p_margin: 20px;

$field_margin: 0 0 20px;

$views_header_margin: 0 0 25px;

$views_footer_margin: 25px 0 0;

$views_row_margin: 0 0 25px;

$region_padding: 30px 0 0;

$th_td_padding: 20px 30px;

$section_width: 1100px;

$logo_max_width: 170px;

$button_width: 280px;