{% set content_attribute = create_attribute() %}
{% set highlighting_attribute = create_attribute() %}
{% set triptych_attribute = create_attribute() %}
{% set page_bottom_attribute = create_attribute() %}
{% set footer_attribute = create_attribute() %}

{%
  set content_classes = [
	  'content-wrapper',
	  page.sidebar_first and page.sidebar_second ? 'with-sidebars',
	  not page.sidebar_first and not page.sidebar_second ? 'no-sidebars',
	  page.sidebar_first and not page.sidebar_second ? 'with-sidebar-first',
	  not page.sidebar_first and page.sidebar_second ? 'with-sidebar-second',
  ]
%}

{%
	set highlighting_classes = [
		'highlighting-wrapper',
		highlighting_bg ? 'with-bg'
]
%}

{%
	set triptych_classes = [
	'triptych-wrapper',
	triptych_section_width == 1 ? 'section--full-width'
]
%}

{%
	set page_bottom_classes = [
		'page-bottom-wrapper',
		page_bottom_bg ? 'with-bg'
]
%}

{%
	set footer_classes = [
		'footer-wrapper',
		footer_bg ? 'with-bg'
]
%}

<div id="page" class="{{ menu_pos }}">
  <div class="page-wrapper clearfix">
    <header class="header-wrapper">
      <div class="section clearfix">
        {% if page.header_first %}
          {{ page.header_first }}
        {% endif %}

				{% if page.header_second %}
					{{ page.header_second }}
				{% endif %}
      </div>
    </header>
	{% if page.top_menu %}
		<div class="top-menu-wrapper">
			<div class="section clearfix">
				<div class="block-open-menu"></div>
				{% if page.top_menu %}
					{{ page.top_menu }}
				{% endif %}
			</div>
		</div>
	{% endif %}

  {% if page.highlighting %}
    <div{{ highlighting_attribute.addClass(highlighting_classes) }}>
    {% if highlighting_bg %}
      <div class="bg" style="background-image: url({{ highlighting_bg }});"></div>
    {% endif %}
      <div class="section clearfix">
        {% if page.highlighting %}
          {{ page.highlighting }}
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% if page.triptych_first or page.triptych_second or page.triptych_third %}
    <div{{ triptych_attribute.addClass(triptych_classes) }}>
      <div class="section clearfix">
        {% if page.triptych_first %}
          {{ page.triptych_first }}
        {% endif %}

        {% if page.triptych_second %}
          {{ page.triptych_second }}
        {% endif %}

        {% if page.triptych_third %}
          {{ page.triptych_third }}
        {% endif %}    
      </div>
    </div>
  {% endif %} 

      <div {{ content_attribute.addClass(content_classes) }}>
        <div class="section clearfix">
          {% if page.sidebar_first %}
            {{ page.sidebar_first }} 
          {% endif %}

          {% if page.content %}
            {{ page.content }} 
          {% endif %}

          {% if page.sidebar_second %}
            {{ page.sidebar_second }} 
          {% endif %}
        </div>
      </div>
    
    {% if page.postscript_first or page.postscript_second or page.postscript_third %}
      <div class="postscript-wrapper">
        <div class="section clearfix">
          {% if page.postscript_first %}
            {{ page.postscript_first }} 
          {% endif %}

          {% if page.postscript_second %}
            {{ page.postscript_second }} 
          {% endif %}

          {% if page.postscript_third %}
            {{ page.postscript_third }} 
          {% endif %}  
        </div>
      </div>
    {% endif %} 
    
    {% if page.bottom_page %}
      <div{{ page_bottom_attribute.addClass(page_bottom_classes) }}>
      {% if page_bottom_bg %}
        <div class="bg" style="background-image: url({{ page_bottom_bg }});"></div>
      {% endif %}
        <div class="section clearfix">
			{{ page.bottom_page }}
        </div>
      </div>
    {% endif %} 

      <footer{{ footer_attribute.addClass(footer_classes) }}>
        {% if footer_bg %}
          <div class="bg" style="background-image: url({{ footer_bg }});"></div>
        {% endif %}
        <div class="section clearfix">
          {% if page.footer_first %}
            {{ page.footer_first }} 
          {% endif %} 

          {% if page.footer_second %}
            {{ page.footer_second }} 
          {% endif %} 

          {% if page.footer_third %}
            {{ page.footer_third }} 
          {% endif %}  
        </div>
      </footer>
  </div>
</div>