/*Breadcrumb*/
.breadcrumb {
  margin: 20px 0;
  line-height: 18px; }
.highlighting-wrapper.with-bg .breadcrumb {
  margin-bottom: 70px;
  text-align: center; }
.block-wg-theme-page-title + .block-wg-theme-breadcrumbs .breadcrumb {
  margin-top: 0; }
.block-wg-theme-breadcrumbs:last-child .breadcrumb {
  margin-bottom: 0; }
.breadcrumb ul {
  margin-top: 0;
  padding-left: 0; }
.breadcrumb li, .breadcrumb li a, .breadcrumb li span {
  color: #d9232d;
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
  display: inline-block;
  vertical-align: middle; }
.highlighting-wrapper.with-bg .breadcrumb li, .highlighting-wrapper.with-bg .breadcrumb li a, .highlighting-wrapper.with-bg .breadcrumb li span {
  color: #fff; }
.breadcrumb li {
  padding-left: 0; }
.breadcrumb li:before {
  display: none; }
.highlighting-wrapper.with-bg .breadcrumb span {
  font-weight: normal; }
