.node--comments {
  margin-top: 60px; }

.comments--title, .comments-form--title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 40px; }

.comments--wrapper {
  margin-bottom: 40px; }
.comments--wrapper .indented {
  border-left: 1px solid #d8d8d8;
  padding-left: 20px; }

.comment--meta {
  margin-bottom: 25px; }
.comment--meta .comment--submitted, .comment--meta .profile--compact {
  display: inline-block;
  vertical-align: middle; }
.comment--meta .profile--compact {
  margin-right: 20px; }
.comment--meta .fa {
  margin-right: 5px; }

.comment--item {
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 25px;
  padding-bottom: 25px; }
.comment--item.unpublished {
  background: #d9232d26; }
