@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0; }

a {
  color: #d9232d;
  text-decoration: underline;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

a:hover {
  text-decoration: none; }

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: normal;
  line-height: 48px;
  margin: 0 0 20px; }
.highlighting-wrapper.with-bg h1 {
  color: #fff;
  text-align: center; }

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  margin: 0 0 20px; }
h2.block-title {
  position: relative; }

h3 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 20px; }
h3 span {
  color: #d9232d; }

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle; }

tr.even, tr.odd {
  border: 0; }

p {
  margin-bottom: 20px; }
p:last-child {
  margin-bottom: 0; }

b, strong {
  font-weight: 600; }

i {
  font-style: italic; }

ol, ul {
  position: relative;
  margin-top: 20px;
  padding-left: 20px; }
ol.links, ul.links {
  padding-left: 0; }
ol.links li, ul.links li {
  margin-right: 20px;
  padding-left: 0; }
ol.links li:last-child, ul.links li:last-child {
  margin-right: 0; }
ol.links li:before, ul.links li:before {
  display: none; }
nav ol, nav ul {
  margin-top: 0;
  padding-left: 0; }
ol li, ul li {
  padding-left: 20px;
  position: relative; }
nav ol li, nav ul li {
  padding-left: 0; }

ol {
  counter-reset: num; }
ol li:before {
  position: absolute;
  left: 0;
  content: counter(num) ")";
  counter-increment: num;
  color: #d9232d; }

ul li:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '›';
  color: #d9232d;
  display: block;
  font-weight: 700; }
nav ul li:before {
  display: none; }

.blockquote, blockquote {
  border: 2px solid #d8d8d8;
  padding: 5px 20px;
  text-align: center; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.inline-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px; }
.inline-item:last-child {
  margin-right: 0; }

.mobile-visible {
  display: none; }

.align-left {
  float: left;
  margin-right: 30px; }

.align-right {
  float: right;
  margin-left: 30px; }

.text-align-center {
  text-align: center; }

.text-align-left {
  text-align: left; }

.text-align-right {
  text-align: right; }

.text-uppercase {
  text-transform: uppercase; }

.list-inline li {
  display: inline-block;
  vertical-align: middle; }
