.field {
  margin: 0 0 20px; }
.node--teaser .field:last-child {
  margin-bottom: 0; }

.field--label {
  font-weight: 600; }

.field-label-inline .field--label, .field-label-inline .field--items {
  display: inline-block;
  vertical-align: top; }
.field-label-inline .field--label {
  margin-right: 20px; }

.node--full .image {
  width: 100%;
  text-align: center; }
.node--teaser .image {
  float: left;
  margin-right: 20px; }
.views--col .image {
  float: none;
  margin-right: 0; }

.node .tags {
  clear: both; }
.tags .field--item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px; }
.tags .field--item a {
  background: #d9232d;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 14px;
  padding: 2px 10px 1px 25px;
  position: relative;
  text-decoration: none; }
.tags .field--item a:before {
  content: "\f02b";
  position: absolute;
  top: 7px;
  left: 8px;
  color: #fff;
  font: normal normal normal 14px/1 FontAwesome; }
.tags .field--item a:hover {
  background: #d9232d; }

.node .user-picture {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  margin-bottom: 0;
  overflow: hidden;
  width: 56px;
  height: 56px; }
.node .user-picture img {
  height: 100%; }
