@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Roboto/RobotoLight.eot?") format("eot"), url("../fonts/Roboto/RobotoLight.woff") format("woff"), url("../fonts/Roboto/RobotoLight.woff2") format("woff2"), url("../fonts/Roboto/RobotoLight.ttf") format("truetype"), url("../fonts/Roboto/RobotoLight.svg#Roboto") format("svg"); }
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto/RobotoRegular.eot?") format("eot"), url("../fonts/Roboto/RobotoRegular.woff") format("woff"), url("../fonts/Roboto/RobotoRegular.woff2") format("woff2"), url("../fonts/Roboto/RobotoRegular.ttf") format("truetype"), url("../fonts/Roboto/RobotoRegular.svg#Roboto") format("svg"); }
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Roboto/RobotoMedium.eot?") format("eot"), url("../fonts/Roboto/RobotoMedium.woff") format("woff"), url("../fonts/Roboto/RobotoMedium.woff2") format("woff2"), url("../fonts/Roboto/RobotoMedium.ttf") format("truetype"), url("../fonts/Roboto/RobotoMedium.svg#Roboto") format("svg"); }
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto/RobotoBold.eot?") format("eot"), url("../fonts/Roboto/RobotoBold.woff") format("woff"), url("../fonts/Roboto/RobotoBold.woff2") format("woff2"), url("../fonts/Roboto/RobotoBold.ttf") format("truetype"), url("../fonts/Roboto/RobotoBold.svg#Roboto") format("svg"); }
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Roboto/RobotoItalic.eot?") format("eot"), url("../fonts/Roboto/RobotoItalic.woff") format("woff"), url("../fonts/Roboto/RobotoItalic.woff2") format("woff2"), url("../fonts/Roboto/RobotoItalic.ttf") format("truetype"), url("../fonts/Roboto/RobotoItalic.svg#Roboto") format("svg"); }
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Lato/LatoLight.eot?") format("eot"), url("../fonts/Lato/LatoLight.woff") format("woff"), url("../fonts/Lato/LatoLight.woff2") format("woff2"), url("../fonts/Lato/LatoLight.ttf") format("truetype"), url("../fonts/Lato/LatoLight.svg#Lato") format("svg"); }
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lato/LatoRegular.eot?") format("eot"), url("../fonts/Lato/LatoRegular.woff") format("woff"), url("../fonts/Lato/LatoRegular.woff2") format("woff2"), url("../fonts/Lato/LatoRegular.ttf") format("truetype"), url("../fonts/Lato/LatoRegular.svg#Lato") format("svg"); }
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Lato/LatoBold.eot?") format("eot"), url("../fonts/Lato/LatoBold.woff") format("woff"), url("../fonts/Lato/LatoBold.woff2") format("woff2"), url("../fonts/Lato/LatoBold.ttf") format("truetype"), url("../fonts/Lato/LatoBold.svg#Lato") format("svg"); }
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Lato/LatoItalic.eot?") format("eot"), url("../fonts/Lato/LatoItalic.woff") format("woff"), url("../fonts/Lato/LatoItalic.woff2") format("woff2"), url("../fonts/Lato/LatoItalic.ttf") format("truetype"), url("../fonts/Lato/LatoItalic.svg#Lato") format("svg"); }
