select, textarea, input[type="text"], input[type="email"], input[type="password"] {
  background: #fff;
  border: 1px solid #d8d8d8;
  color: #303030;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  padding: 11px 15px;
  width: 100%; }

textarea {
  min-height: 130px; }

.js-form-managed-file {
  height: 30px;
  border-bottom: 2px solid #d9232d;
  display: block;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  width: 100%; }
.modal-form .js-form-managed-file {
  font-size: 14px;
  height: 20px; }
.js-form-managed-file .file {
  padding-left: 25px; }
.js-form-managed-file .file a {
  color: #303030;
  text-decoration: none; }
.dark-bg .js-form-managed-file .file a {
  color: #fff; }
.js-form-managed-file input[type="submit"]:not(.js-hide) {
  background: transparent;
  color: #303030;
  display: inline-block;
  border: 0;
  font-size: 14px;
  margin-top: 0;
  padding: 0 0 0 20px;
  width: auto; }
.js-form-managed-file input[type="submit"]:not(.js-hide):hover {
  color: #d9232d;
  background: transparent; }

input[type="submit"] {
  background: #d9232d;
  border: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
  position: relative;
  overflow: hidden;
  width: auto;
  max-width: 100%;
  min-width: 120px;
  text-align: center;
  text-decoration: none;
  -moz-transition: 0.8s;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s; }
input[type="submit"]:hover {
  background: #b71e26; }
input[type="submit"].button {
  display: inline-block; }

.form-item {
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative; }
.form-item .stat-message {
  height: 0;
  width: 0;
  overflow: hidden; }
.form-item label {
  font-weight: 700; }
.form-item label + input, .form-item label + select, .form-item label + textarea {
  margin-top: 10px; }
.form-item .form-managed-file label {
  font-weight: normal; }

.form-actions {
  clear: both;
  margin: 50px 0 0; }
.modal-form .form-actions {
  margin-top: 0; }

.form-item-file .description {
  margin: 0;
  padding: 0;
  height: 0;
  overflow: hidden; }

input::-webkit-input-placeholder {
  color: #303030;
  font-family: "Roboto", sans-serif; }

input::-moz-placeholder {
  color: #303030;
  font-family: "Roboto", sans-serif; }

input:-moz-placeholder {
  color: #303030;
  font-family: "Roboto", sans-serif; }

input:-ms-input-placeholder {
  color: #303030;
  font-family: "Roboto", sans-serif; }

textarea::-webkit-input-placeholder {
  color: #303030;
  font-family: "Roboto", sans-serif; }

textarea::-moz-placeholder {
  color: #303030;
  font-family: "Roboto", sans-serif; }

textarea:-moz-placeholder {
  color: #303030;
  font-family: "Roboto", sans-serif; }

textarea:-ms-input-placeholder {
  color: #303030;
  font-family: "Roboto", sans-serif; }

.user-pass, .user-login-form {
  margin: 0 auto;
  max-width: 500px; }
