.col-1 {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  width: 100%; }
.col-1 .col-wrapper {
  position: relative;
  height: 100%; }
@media screen and (max-width: 767px) {
  .col-1 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: auto; } }

.col-2 {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  margin-right: -4px;
  width: 50%; }
.col-2 .col-wrapper {
  position: relative;
  height: 100%; }
@media screen and (max-width: 767px) {
  .col-2 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: auto; } }

.col-3 {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  margin-right: -4px;
  width: 33.33333%; }
.col-3 .col-wrapper {
  position: relative;
  height: 100%; }
@media screen and (max-width: 767px) {
  .col-3 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: auto; } }

.col-4 {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  margin-right: -4px;
  width: 25%; }
.col-4 .col-wrapper {
  position: relative;
  height: 100%; }
@media screen and (max-width: 767px) {
  .col-4 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: auto; } }

.col-5 {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  margin-right: -4px;
  width: 20%; }
.col-5 .col-wrapper {
  position: relative;
  height: 100%; }
@media screen and (max-width: 767px) {
  .col-5 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: auto; } }

.col-6 {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  margin-right: -4px;
  width: 16.66667%; }
.col-6 .col-wrapper {
  position: relative;
  height: 100%; }
@media screen and (max-width: 767px) {
  .col-6 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: auto; } }

.col-7 {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  margin-right: -4px;
  width: 14.28571%; }
.col-7 .col-wrapper {
  position: relative;
  height: 100%; }
@media screen and (max-width: 767px) {
  .col-7 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: auto; } }

.col-8 {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  margin-right: -4px;
  width: 12.5%; }
.col-8 .col-wrapper {
  position: relative;
  height: 100%; }
@media screen and (max-width: 767px) {
  .col-8 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: auto; } }

.col-9 {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  margin-right: -4px;
  width: 11.11111%; }
.col-9 .col-wrapper {
  position: relative;
  height: 100%; }
@media screen and (max-width: 767px) {
  .col-9 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: auto; } }

.col-10 {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  margin-right: -4px;
  width: 10%; }
.col-10 .col-wrapper {
  position: relative;
  height: 100%; }
@media screen and (max-width: 767px) {
  .col-10 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: auto; } }

.col-11 {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  margin-right: -4px;
  width: 9.09091%; }
.col-11 .col-wrapper {
  position: relative;
  height: 100%; }
@media screen and (max-width: 767px) {
  .col-11 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: auto; } }

.col-12 {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  margin-right: -4px;
  width: 8.33333%; }
.col-12 .col-wrapper {
  position: relative;
  height: 100%; }
@media screen and (max-width: 767px) {
  .col-12 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: auto; } }

#page {
  color: #303030;
  font: normal 16px/24px "Lato", sans-serif; }

.page-wrapper {
  overflow: hidden;
  position: relative; }

.section {
  margin: 0 auto;
  position: relative;
  width: 1100px;
  max-width: 100%; }
.section--full-width .section {
  width: 100%; }

.footer-wrapper, .content-wrapper, .triptych-wrapper, .postscript-wrapper, .highlighting-wrapper, .page-bottom-wrapper {
  padding: 30px 0 0;
  position: relative; }

.top-menu-wrapper {
  background: #fff;
  border-bottom: 1px solid #dcdcdc;
  padding: 20px 0;
  position: relative; }

.block {
  margin-bottom: 20px;
  position: relative; }
.block:last-child, .header-wrapper .block, .block.block-wg-theme-content, .block.block-wg-theme-page-title, .block.block-wg-theme-breadcrumbs {
  margin-bottom: 0; }

.no-sidebars .region-content {
  float: none;
  width: 100%; }
.with-sidebar-first .region-content {
  float: left;
  padding-left: 20px;
  width: 75%; }
.with-sidebar-second .region-content {
  float: left;
  padding-right: 20px;
  width: 75%; }
.with-sidebars .region-content {
  float: left;
  padding: 0 20px;
  width: 50%; }

.region-sidebar-first {
  float: left;
  width: 25%; }

.region-sidebar-second {
  float: left;
  width: 25%; }

.postscript-wrapper {
  background: #f0f0f0; }

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1; }
.front .highlighting-wrapper .bg, .footer-wrapper .bg {
  background-attachment: fixed; }
.bg:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  display: block;
  width: 100%;
  height: 100%;
  z-index: 5; }

.col-wrapper {
  margin: 0 -15px; }

.block-branding .logo {
  margin: auto;
  max-width: 170px; }
