@media screen and (max-width: 1099px) {
  .menu-fixed-top .region-header {
    padding: 0 15px; } }
@media screen and (max-width: 999px) {
  .section {
    width: 768px; }

  .menu-fixed-top .block-menu {
    margin-top: 5px; }
  .menu-fixed-top .block-menu nav .menu > li {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    padding: 0 15px; }
  .menu-fixed-top .block-menu nav .menu a {
    font-size: 14px; } }
@media screen and (max-width: 767px) {
  .section {
    padding-left: 15px;
    padding-right: 15px;
    width: 320px; }

  h1 {
    font-size: 30px;
    line-height: 36px; }

  h2 {
    font-size: 26px; }

  .footer-wrapper, .content-wrapper, .postscript-wrapper, .highlighting-wrapper, .page-bottom-wrapper {
    padding: 40px 0; }

  .top-menu-wrapper .block-menu {
    background: #202024 url("../img/black-thread.png") repeat left top;
    z-index: 9999;
    height: 100%;
    position: fixed;
    width: 285px;
    left: -285px;
    top: 0;
    margin-top: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    text-align: left; }
  .top-menu-wrapper .block-menu .close-menu {
    cursor: pointer;
    background: url("../img/close.png") no-repeat;
    display: block;
    text-indent: -9999px;
    line-height: 50px; }
  .top-menu-wrapper .block-menu nav .menu > li {
    background: none;
    border-bottom: 1px solid #636366;
    display: block;
    float: none;
    margin-right: 0;
    padding: 0; }
  .top-menu-wrapper .block-menu nav .menu > li a {
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 30px;
    padding: 10px 0 10px 20px;
    text-shadow: none; }
  .top-menu-wrapper .block-open-menu {
    display: block; }

  .not-front .highlighting-wrapper {
    padding: 20px 0; }

  .breadcrumb {
    margin-bottom: 20px; }
  .breadcrumb li, .breadcrumb li a, .breadcrumb li span {
    font-size: 14px; }

  .js-form-managed-file .file, .js-form-managed-file .file a {
    display: inline-block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 185px; } }
