.top-menu-wrapper.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }

.menu-fixed-top .block-menu {
  margin-top: 5px; }
.header-wrapper .block-menu, .top-menu-wrapper .block-menu {
  display: inline-block;
  vertical-align: middle; }
.header-wrapper .block-menu a, .top-menu-wrapper .block-menu a {
  text-decoration: none; }

.menu > li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
  text-transform: uppercase; }
.menu > li:first-child {
  padding-left: 0; }
.menu > li:last-child {
  padding-right: 0; }
.menu a {
  color: #303030;
  font-family: "Lato", sans-serif;
  position: relative; }
.menu a:hover {
  color: #d9232d; }

.block-open-menu {
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  background-color: transparent;
  border-bottom: 3px solid #d9232d;
  cursor: pointer;
  margin-top: -12.5px;
  width: 36px;
  height: 25px;
  z-index: 10; }
.block-open-menu:before, .block-open-menu:after {
  position: absolute;
  left: 0;
  content: '';
  background-color: #d9232d;
  display: block;
  width: 100%;
  height: 3px; }
.block-open-menu:before {
  top: 0; }
.block-open-menu:after {
  top: 11px; }

.close-menu, .block-open-menu {
  display: none; }
