.node--meta {
  margin-bottom: 25px; }
.node--teaser .node--meta {
  margin-bottom: 20px; }
.node--meta .node--submitted, .node--meta .profile--compact {
  display: inline-block;
  vertical-align: middle; }
.node--meta .profile--compact {
  margin-right: 20px; }
.node--meta .fa {
  margin-right: 5px; }

.node--author .fa {
  vertical-align: middle; }

.node--created-date {
  font-size: 14px; }

.node--content h2, .node--content h3, .node--content h4, .node--content h5, .node--content h6 {
  margin-bottom: 20px; }

.node--teaser {
  padding-bottom: 25px; }
.node--teaser .node--author, .node--teaser .node--created {
  display: inline-block;
  vertical-align: middle; }
.node--teaser .node--author {
  margin-right: 10px; }
.node--teaser .node--created {
  margin-top: 3px; }

.node--teaser-title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px; }
.node--teaser-title a {
  color: #303030;
  text-decoration: none; }
.node--teaser-title a:hover {
  color: #b71e26; }
