/*Pager*/
.pager {
  clear: both;
  text-align: center; }
.pager li {
  display: inline-block;
  margin-right: 8px; }
.pager li a {
  border: 3px solid #d8d8d8;
  color: #303030;
  display: block;
  font-size: 18px;
  padding: 7px 0;
  width: 44px;
  text-align: center;
  text-decoration: none; }
.pager li a:hover, .pager li.is-active a {
  border: 3px solid #d9232d;
  background: #d9232d;
  color: #fff; }
.pager .pager--item-first a, .pager .pager--item-last a {
  min-width: 44px;
  padding: 7px 15px;
  width: auto; }

.pager--items {
  border-top: 3px solid #d8d8d8;
  margin-top: 25px;
  padding-top: 25px; }
