/*Settings form*/
.layout-radios .form-radios {
  margin: 0 -15px; }
.layout-radios .form-type-radio {
  display: inline-block;
  margin-top: 10px;
  margin-right: -4px;
  padding: 0 15px;
  text-align: center; }
.layout-radios .form-type-radio label {
  background-repeat: no-repeat;
  -webkit-background-size: 100px 129px;
  background-size: 100px 129px;
  display: block;
  margin-top: 5px;
  width: 100px;
  height: 129px;
  text-indent: -9999px; }
.layout-radios .form-type-radio .form-radio[value="0"] + label {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20100%20131.9%22%20width%3D%22100px%22%20height%3D%22131.9px%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20style%3D%22stroke%3A%23000000%3Bstroke-width%3A2%3Bstroke-miterlimit%3A10%3B%22%20d%3D%22M99.7%2C0.8v130.3H1.3V0.8H99.7%20M100.5%2C0H0.5v131.9h100V0%0D%0A%09%09L100.5%2C0z%22/%3E%0D%0A%3C/g%3E%0D%0A%3Cline%20style%3D%22fill%3Anone%3Bstroke%3A%23000000%3Bstroke-width%3A3%3Bstroke-miterlimit%3A10%3B%22%20x1%3D%2232.2%22%20y1%3D%220%22%20x2%3D%2232.2%22%20y2%3D%22131.9%22/%3E%0D%0A%3Cline%20style%3D%22fill%3Anone%3Bstroke%3A%23000000%3Bstroke-width%3A3%3Bstroke-miterlimit%3A10%3B%22%20x1%3D%2267.2%22%20y1%3D%220%22%20x2%3D%2267.2%22%20y2%3D%22131.9%22/%3E%0D%0A%3C/svg%3E%0D%0A"); }
.layout-radios .form-type-radio .form-radio[value="1"] + label {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20100%20131.9%22%20width%3D%22100px%22%20height%3D%22131.9px%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20style%3D%22stroke%3A%23000000%3Bstroke-width%3A2%3Bstroke-miterlimit%3A10%3B%22%20d%3D%22M99.7%2C0.8v130.3H1.3V0.8H99.7%20M100.5%2C0H0.5v131.9h100V0%0D%0A%09%09L100.5%2C0z%22/%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%09%3Cline%20style%3D%22fill%3Anone%3Bstroke%3A%23000000%3Bstroke-width%3A3%3Bstroke-miterlimit%3A10%3B%22%20x1%3D%221.3%22%20y1%3D%2286.7%22%20x2%3D%2299.7%22%20y2%3D%2286.4%22/%3E%0D%0A%3C/g%3E%0D%0A%3Cline%20style%3D%22fill%3Anone%3Bstroke%3A%23000000%3Bstroke-width%3A3%3Bstroke-miterlimit%3A10%3B%22%20x1%3D%2250.5%22%20y1%3D%2286.4%22%20x2%3D%2250.5%22%20y2%3D%220%22/%3E%0D%0A%3C/svg%3E%0D%0A"); }
.layout-radios .form-type-radio .form-radio[value="2"] + label {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20100%20131.9%22%20width%3D%22100px%22%20height%3D%22131.9px%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20style%3D%22stroke%3A%23000000%3Bstroke-width%3A2%3Bstroke-miterlimit%3A10%3B%22%20d%3D%22M99.7%2C0.8v130.3H1.3V0.8H99.7%20M100.5%2C0H0.5v131.9h100V0%0D%0A%09%09L100.5%2C0z%22/%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%09%3Cline%20style%3D%22fill%3Anone%3Bstroke%3A%23000000%3Bstroke-width%3A3%3Bstroke-miterlimit%3A10%3B%22%20x1%3D%221.3%22%20y1%3D%2242.8%22%20x2%3D%2299.7%22%20y2%3D%2242.5%22/%3E%0D%0A%3C/g%3E%0D%0A%3Cline%20style%3D%22fill%3Anone%3Bstroke%3A%23000000%3Bstroke-width%3A3%3Bstroke-miterlimit%3A10%3B%22%20x1%3D%2250.5%22%20y1%3D%2243.1%22%20x2%3D%2250.5%22%20y2%3D%22131.7%22/%3E%0D%0A%3C/svg%3E%0D%0A"); }
.layout-radios .form-type-radio .form-radio[value="3"] + label {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20100%20131.9%22%20width%3D%22100px%22%20height%3D%22131.9px%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20style%3D%22stroke%3A%23000000%3Bstroke-width%3A2%3Bstroke-miterlimit%3A10%3B%22%20d%3D%22M99.7%2C0.8v130.3H1.3V0.8H99.7%20M100.5%2C0H0.5v131.9h100V0%0D%0A%09%09L100.5%2C0z%22/%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%09%3Cline%20style%3D%22fill%3Anone%3Bstroke%3A%23000000%3Bstroke-width%3A3%3Bstroke-miterlimit%3A10%3B%22%20x1%3D%221.3%22%20y1%3D%2242.8%22%20x2%3D%2299.7%22%20y2%3D%2242.5%22/%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%09%3Cline%20style%3D%22fill%3Anone%3Bstroke%3A%23000000%3Bstroke-width%3A3%3Bstroke-miterlimit%3A10%3B%22%20x1%3D%221.3%22%20y1%3D%2286.7%22%20x2%3D%2299.7%22%20y2%3D%2286.4%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A"); }
