/*Table*/
table {
  border-bottom: 3px solid #f9f9f9;
  width: 100%; }

thead {
  background: #f9f9f9;
  border-bottom: 4px solid #e9e9e9;
  font-size: 20px;
  font-weight: 600; }

th, td {
  padding: 20px 30px;
  vertical-align: middle; }

tbody tr:nth-child(2n) {
  background: #e9e9e9; }
tbody tr:hover, tbody tr:hover:nth-child(2n) {
  background: #e4e4e4; }
