/*Tabs*/
.block-wg-theme-local-tasks, .block-wg-theme-primary-local-tasks {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 9999;
  width: 170px;
  right: -130px;
  transition: all 0.25s ease;
  z-index: 30; }

.block-wg-theme-local-tasks .contextual, .block-wg-theme-primary-local-tasks .contextual {
  bottom: -20px;
  top: auto; }

.block-wg-theme-local-tasks nav.tabs, .block-wg-theme-primary-local-tasks nav.tabs {
  margin: 0; }

.block-wg-theme-local-tasks ul.tabs, .block-wg-theme-primary-local-tasks ul.tabs {
  margin: 0;
  padding-left: 0;
  text-align: right;
  position: relative;
  z-index: 30; }

.block-wg-theme-local-tasks ul.tabs li, .block-wg-theme-primary-local-tasks ul.tabs li {
  display: block;
  width: auto;
  background: #555;
  padding: 5px 10px;
  position: relative;
  transition: all 0.25s ease;
  border-bottom: 1px solid #333;
  opacity: 0.8;
  right: 0; }
.block-wg-theme-local-tasks ul.tabs li:before, .block-wg-theme-primary-local-tasks ul.tabs li:before {
  display: none; }

.block-wg-theme-local-tasks ul.tabs li a, .block-wg-theme-primary-local-tasks ul.tabs li a {
  display: inline-block;
  padding: 5px 0 5px 32px;
  color: #fff;
  width: 100%;
  background-color: transparent;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: left 50%; }

.block-wg-theme-local-tasks ul.tabs li.is-active, .block-wg-theme-primary-local-tasks ul.tabs li.is-active {
  background: #777; }

.block-wg-theme-local-tasks ul.tabs li.is-active a, .block-wg-theme-primary-local-tasks ul.tabs li.is-active a {
  background-color: transparent; }

.block-wg-theme-primary-local-tasks ul.tabs li a.view, .block-wg-theme-local-tasks ul.tabs li a.view {
  background-image: url("../img/icon-view.svg"); }

.block-wg-theme-primary-local-tasks ul.tabs li a.edit, .block-wg-theme-local-tasks ul.tabs li a.edit {
  background-image: url("../img/icon-edit.svg"); }

.block-wg-theme-primary-local-tasks ul.tabs li a.delete, .block-wg-theme-local-tasks ul.tabs li a.delete {
  background-image: url("../img/icon-delete.svg"); }

.block-wg-theme-primary-local-tasks ul.tabs li a.revisions, .block-wg-theme-local-tasks ul.tabs li a.revisions {
  background-image: url("../img/icon-revisions.svg"); }

.block-wg-theme-primary-local-tasks ul.tabs li a.devel, .block-wg-theme-local-tasks ul.tabs li a.devel {
  background-image: url("../img/icon-devel.svg"); }

.block-wg-theme-primary-local-tasks ul.tabs li a.translate, .block-wg-theme-local-tasks ul.tabs li a.translate {
  background-image: url("../img/icon-translate.svg"); }

.block-wg-theme-primary-local-tasks ul.tabs li a.enter, .block-wg-theme-local-tasks ul.tabs li a.enter {
  background-image: url(../img/enter.png);
  background-size: auto; }

.block-wg-theme-primary-local-tasks ul.tabs li a.reg, .block-wg-theme-local-tasks ul.tabs li a.reg {
  background-image: url(../img/reg.png);
  background-size: auto; }

.block-wg-theme-primary-local-tasks ul.tabs li a.drop-pass, .block-wg-theme-local-tasks ul.tabs li a.drop-pass {
  background-image: url(../img/help.png);
  background-size: auto; }

.block-wg-theme-primary-local-tasks ul.tabs li a.shortcut, .block-wg-theme-local-tasks ul.tabs li a.shortcut {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%0D%0A%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%201000%201000%22%20width%3D%2224%22%20height%3D%2224%22%3E%0D%0A%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M430.5%2C989.3c-91.4-32-122.7-99-120.9-192.3c3.2-166.6%2C0.6-333.3%2C1-500c0.3-113.5%2C58.9-172.1%2C171.1-172.6c6.4%2C0%2C12.7%2C0%2C19.1%2C0c45.8%2C0%2C91.9%2C3.2%2C137.3-0.8c59.7-5.2%2C106.3%2C15.7%2C146.6%2C57.4c54%2C55.7%2C109%2C110.5%2C163.2%2C166c28.9%2C29.6%2C41.8%2C64.5%2C41.2%2C106.8c-1.6%2C111.9-4.2%2C224.1%2C0.6%2C335.8c4%2C94.2-25.4%2C163.1-115.8%2C199.7C726.1%2C989.3%2C578.3%2C989.3%2C430.5%2C989.3z%20M385.7%2C557.5c0%2C89.2-0.8%2C178.4%2C0.3%2C267.5c0.7%2C58.7%2C29.7%2C87.9%2C86.7%2C88.2c118.5%2C0.7%2C237%2C0.8%2C355.5%2C0c56.1-0.4%2C84.1-28.9%2C84.4-85.8c0.7-129.9-0.6-259.9%2C0.8-389.8c0.3-33.2-15.5-46.9-44.7-49.2c-26.6-2.1-53.4-1.8-80.2-2c-55.8-0.5-62.5-7.5-63.3-64.8c-0.3-26.7-2.3-53.4-2.7-80.1c-0.4-30.5-15.2-43-45.5-42.5c-65%2C1-129.9%2C0.1-194.9%2C0.6c-69.3%2C0.6-96%2C27.7-96.3%2C97.9C385.4%2C384.2%2C385.7%2C470.9%2C385.7%2C557.5z%22/%3E%3Cpath%20d%3D%22M407.5%2C10.7c29.1%2C21.7%2C58.3%2C43.4%2C87.4%2C65c-0.9%2C3.9-1.8%2C7.9-2.6%2C11.8c-31.4%2C0-62.8%2C0-94.2%2C0c-82.7%2C0.1-165.4-2.1-247.9%2C1.2c-41.8%2C1.7-64%2C35-64.2%2C84.7c-0.5%2C124.7-0.2%2C249.4-0.2%2C374c0%2C42-0.4%2C84%2C0.1%2C126c0.7%2C61%2C27.2%2C87.8%2C88.6%2C89.5c31.5%2C0.9%2C63%2C0.1%2C96.6%2C0.1c0%2C26.1%2C0%2C47.4%2C0%2C68.6C128.4%2C849.3%2C62.1%2C841.9%2C10%2C721.7c0-198.8%2C0-397.5%2C0-596.3C32.3%2C71.2%2C70.5%2C33%2C124.7%2C10.7C219%2C10.7%2C313.2%2C10.7%2C407.5%2C10.7z%22/%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M124.7%2C10.7C70.5%2C33%2C32.3%2C71.2%2C10%2C125.4c0-37.6%2C0-75.2%2C0-114.7C48.2%2C10.7%2C86.4%2C10.7%2C124.7%2C10.7z%22/%3E%3Cpath%20d%3D%22M644.9%2C529.7c20.9-17.6%2C40.1-37.7%2C63-52.1c31.4-19.8%2C76.5-11.8%2C101.9%2C13.8c26.9%2C27.2%2C35.5%2C73.4%2C10%2C104.5c-35.9%2C43.9-76.4%2C84.9-119.1%2C122.3c-27.4%2C24-79.7%2C18.3-102.3-5.2c-6.4-6.7-6.6-19.3-9.7-29.3c10.7-2.8%2C24.7-11.4%2C31.7-7.5c33.8%2C18.7%2C57.6%2C6%2C80.6-18.6c21.7-23.2%2C45.2-44.6%2C67-67.7c17.5-18.6%2C30.8-40.5%2C9.2-63.6c-20.9-22.3-41.6-10.6-64.7%2C2.1c-17.9%2C9.8-41.2%2C9.8-62.1%2C14.1C648.5%2C538.2%2C646.7%2C534%2C644.9%2C529.7z%22/%3E%3Cpath%20d%3D%22M649.1%2C781.2c-23.6%2C16.1-45.7%2C35.7-71.3%2C47.4c-35.2%2C16-67.5%2C3.4-92.5-24.6c-23.6-26.5-29.2-70.6-5.8-98.9c33.8-41%2C71.3-79.5%2C111.2-114.5c28-24.6%2C78.3-21%2C102.5%2C2.6c7.3%2C7%2C7.4%2C21.4%2C10.8%2C32.4c-11.1%2C1.9-24.9%2C9.1-32.7%2C4.9c-30.4-16.5-53.1-7.5-74.8%2C15c-22%2C23-45.3%2C44.7-67%2C67.9c-17.1%2C18.2-25.6%2C39.8-7%2C61.3c19.1%2C22.2%2C38.8%2C11.7%2C61.3%2C0.7c17.7-8.6%2C40.2-7.4%2C60.6-10.5C645.9%2C770.3%2C647.5%2C775.7%2C649.1%2C781.2z%22/%3E%3C/g%3E%0D%0A%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 24px 24px; }

.block-wg-theme-primary-local-tasks ul.tabs li a.node-clone, .block-wg-theme-local-tasks ul.tabs li a.node-clone {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20174.239%20174.239%22%20width%3D%2224px%22%20height%3D%2224px%22%3E%0A%3Cg%20fill%3D%22%23FFFFFF%22%3E%0A%09%3Cpath%20d%3D%22M123.09%2C31.665H19.547c-2.191%2C0-3.983%2C1.742-3.983%2C3.933v136.249c0%2C2.141%2C1.543%2C3.037%2C3.385%2C1.892l48.984-29.57%20%20%20c1.841-1.145%2C4.928-1.145%2C6.769%2C0l48.934%2C29.57c1.842%2C1.145%2C3.385%2C0.249%2C3.385-1.892V35.598%20%20%20C127.022%2C33.407%2C125.231%2C31.665%2C123.09%2C31.665z%20M95.561%2C92.298c0%2C2.19-1.792%2C3.982-3.982%2C3.982H77.242v14.337%20%20%20c0%2C2.141-1.791%2C3.933-3.982%2C3.933h-3.932c-2.191%2C0-3.933-1.792-3.933-3.933V96.28H51.008c-2.14%2C0-3.932-1.792-3.932-3.982v-3.933%20%20%20c0-2.19%2C1.792-3.982%2C3.932-3.982h14.387V70.046c0-2.19%2C1.742-3.933%2C3.933-3.933h3.932c2.191%2C0%2C3.982%2C1.742%2C3.982%2C3.933v14.337%20%20%20h14.337c2.19%2C0%2C3.982%2C1.792%2C3.982%2C3.982V92.298z%22/%3E%0A%09%3Cpath%20d%3D%22M154.718%2C0c2.176%2C0%2C3.956%2C1.78%2C3.956%2C3.956V141.48c0%2C2.176-1.465%2C2.945-3.256%2C1.709l-13.269-9.156%20%20%20c-1.791-1.236-3.256-4.027-3.256-6.203V23.738c0-2.176-1.78-3.956-3.956-3.956H51.18c-2.176%2C0-3.956-1.78-3.956-3.956V3.956%20%20%20C47.224%2C1.78%2C49.004%2C0%2C51.18%2C0H154.718z%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 24px 24px; }

.block-wg-theme-local-tasks ul.tabs li:hover, .block-wg-theme-primary-local-tasks ul.tabs li:hover {
  right: 130px;
  opacity: 1;
  background-color: #222; }
