.view--header {
  margin: 0 0 25px; }

.view-footer {
  margin: 25px 0 0; }

.views--grid {
  margin: 0 -15px; }
.views--grid .views--row {
  margin-bottom: 0; }
.views--grid .views--col {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 25px;
  margin-right: -4px;
  padding: 0 15px; }

.views--row {
  margin: 0 0 25px; }
.views--row:last-child {
  margin-bottom: 0; }
