@import "../helpers/variables";
@import "../helpers/mixins";
@import "../helpers/placeholders";

@for $i from 1 through 12 {
  .col-#{$i} { 
  	@include align-top();
  	@if $i == 1 {
  		padding: 0;
  	} @else {
  		padding: 0 15px ;
  		margin-right: -4px;
  	}
  	width: 100%/$i;

  	.col-wrapper {
  		position: relative;
  		height: 100%;
  	}

    @media screen and (max-width: 767px) {

      & {
      	display: block;
      	padding: {
      		left: 0;
      		right: 0;
      	}
        width: auto;
      }
    }
  }
}

#page {
	color: $text_color;
  font: normal 16px/24px $ff1;
}

.page-wrapper {
  overflow: hidden;
	position: relative;
}

.section {
  margin: 0 auto;
  position: relative;
  width: $section_width;
  max-width: 100%;

	.section--full-width & {
		width: 100%;
	}
}

.footer-wrapper,
.content-wrapper,
.triptych-wrapper,
.postscript-wrapper,
.highlighting-wrapper,
.page-bottom-wrapper {
	padding: $region_padding;
	position: relative;
}

.top-menu-wrapper {
	background: #fff;
	border-bottom: 1px solid #dcdcdc;
	padding: 20px 0;
	position: relative;
}

.block {
	margin-bottom: $p_margin;
	position: relative;

	&:last-child,
	.header-wrapper &,
	&.block-wg-theme-content,
	&.block-wg-theme-page-title,
	&.block-wg-theme-breadcrumbs {
		margin-bottom: 0;
	}
}

.region-content {

	.no-sidebars & {
		float: none;
		width: 100%;
	}

	.with-sidebar-first & {
		float: left;
		padding-left: 20px;
		width: 75%;
	}

	.with-sidebar-second & {
		float: left;
		padding-right: 20px;
		width: 75%;
	}

	.with-sidebars & {
		float: left;
		padding: 0 20px;
		width: 50%;
	}
}

.region-sidebar-first {
	float: left;
	width: 25%;
}

.region-sidebar-second {
	float: left;
	width: 25%;
}

.postscript-wrapper {
	background: #f0f0f0;
}

.bg {
	@include absolute();
	background: no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1;

	.front .highlighting-wrapper &,
	.footer-wrapper & {
		background-attachment: fixed;
	}

	&:after {
		content: '';
		@include absolute();
		background: rgba(0, 0, 0, 0.6);
		display: block;
		width: 100%;
		height: 100%;
		z-index: 5;
	}
}

.col-wrapper {
	margin: 0 -15px;
}

.block-branding {

	.logo {
		margin: auto;
		max-width: $logo_max_width;
	}
}
