@media screen and (max-width: 1099px) {
	.menu-fixed-top {

		.region-header {
			padding: 0 15px;
		}
	}
}

@media screen and (max-width: 999px) {
	@import "../helpers/mixins";

	.section {
		width: 768px;
	}

	.block-menu {

		.menu-fixed-top & {
			margin-top: 5px;

			nav {

				.menu {

					& > li {
						@include align-mid;
						margin-bottom: 0;
						padding: 0 15px;
					}

					a {
						font-size: 14px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	@import "../helpers/mixins";

	.section {
		padding: {
			left: 15px;
			right: 15px;
		}
		width: 320px;
	}

	h1 {
		font-size: 30px;
		line-height: 36px;
	}

	h2 {
		font-size: 26px;
	}

	.footer-wrapper,
	.content-wrapper,
	.postscript-wrapper,
	.highlighting-wrapper,
	.page-bottom-wrapper {
		padding: 40px 0;
	}

	.top-menu-wrapper {

		.block-menu {
			background: #202024 url('../img/black-thread.png') repeat left top;
			z-index: 9999;
			height: 100%;
			position: fixed;
			width: 285px;
			left: -285px;
			top: 0;
			margin-top: 0;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			text-align: left;

			.close-menu {
				cursor: pointer;
				background: url('../img/close.png') no-repeat;
				display: block;
				text-indent: -9999px;
				line-height: 50px;
			}

			nav {

				.menu {

					& > li {
						background: none;
						border-bottom: 1px solid #636366;
						display: block;
						float: none;
						margin-right: 0;
						padding: 0;

						a {
							color: #fff;
							display: block;
							font-size: 16px;
							line-height: 30px;
							padding: 10px 0 10px 20px;
							text-shadow: none;
						}
					}
				}
			}
		}

		.block-open-menu {
			display: block;
		}
	}

	.highlighting-wrapper {

		.not-front & {
			padding: 20px 0;
		}
	}

	.breadcrumb {
		margin-bottom: 20px;

		li {

			&,
			a,
			span {
				font-size: 14px;
			}
		}
	}

	.js-form-managed-file {

		.file {

			&,
			a {
				display: inline-block;
				overflow: hidden;
				-o-text-overflow: ellipsis;
				text-overflow: ellipsis;
				vertical-align: middle;
				white-space: nowrap;
				width: 185px;
			}
		}
	}
}