@import "../helpers/variables";
@import "../helpers/mixins";
@import "../helpers/placeholders";

.node--meta {
	margin-bottom: 25px;

	.node--teaser & {
		margin-bottom: 20px;
	}

	.node--submitted,
	.profile--compact {
		@include align-mid();
	}

	.profile--compact {
		margin-right: 20px;
	}

	.fa {
		margin-right: 5px;
	}
}

.node--author {

	.fa {
		vertical-align: middle;
	}
}

.node--created-date {
	font-size: 14px;
}

.node--content {

	h2, h3, h4, h5, h6 {
		margin-bottom: $p_margin;
	}
}

.node--teaser  {
	padding-bottom: 25px;

	.node--author,
	.node--created {
		@include align-mid;
	}

	.node--author {
		margin-right: 10px;
	}

	.node--created {
		margin-top: 3px;
	}
}

.node--teaser-title {
	font-family: $ff2;
	font-size: 24px;
	font-weight: $bold;
	line-height: 24px;
	margin-bottom: 15px;

	a {
		color: $text_color;
		text-decoration: none;

		&:hover {
			color: $link_h;
		}
	}
}